<div id="nav-offcanvas" uk-offcanvas="overlay: true">
    <aside class="uk-offcanvas-bar uk-padding-remove">
        <div class="uk-card uk-card-default uk-card-small tm-shadow-remove">
            <header class="uk-card-header uk-flex uk-flex-middle">
                <div><a class="uk-link-muted uk-text-bold" href="#">8 800 799 99 99</a>
                    <div class="uk-text-xsmall uk-text-muted" style="margin-top: -2px;">
                        <div>St.&nbsp;Petersburg, Nevsky&nbsp;Prospect&nbsp;28</div>
                        <div>Daily 10:00–22:00</div>
                    </div>
                </div>
            </header>
            <nav class="uk-card-small uk-card-body">
                <ul class="uk-nav-default uk-nav-parent-icon uk-list-divider" uk-nav>
                    <li class="uk-parent"><a href="catalog">Catalog</a>
                        <ul class="uk-nav-sub uk-list-divider">
                            <li><a href="subcategory">Laptops &amp; Tablets</a></li>
                            <li><a href="subcategory">Phones &amp; Gadgets</a></li>
                            <li><a href="subcategory">TV &amp; Video</a></li>
                            <li><a href="subcategory">Games &amp; Entertainment</a></li>
                            <li><a href="subcategory">Photo</a></li>
                            <li class="uk-text-center"><a class="uk-link-muted uk-text-uppercase tm-link-to-all"
                                    href="catalog"><span>see all categories</span><span
                                        uk-icon="icon: chevron-right; ratio: .75;"></span></a></li>
                        </ul>
                    </li>
                    <li class="uk-parent"><a href="brands">Brands</a>
                        <ul class="uk-nav-sub uk-list-divider">
                            <li><a href="subcategory">Apple</a></li>
                            <li><a href="subcategory">Samsung</a></li>
                            <li><a href="subcategory">Sony</a></li>
                            <li><a href="subcategory">Microsoft</a></li>
                            <li><a href="subcategory">Intel</a></li>
                            <li><a href="subcategory">HP</a></li>
                            <li><a href="subcategory">LG</a></li>
                            <li><a href="subcategory">Lenovo</a></li>
                            <li><a href="subcategory">ASUS</a></li>
                            <li><a href="subcategory">Acer</a></li>
                            <li><a href="subcategory">Dell</a></li>
                            <li><a href="subcategory">Canon</a></li>
                            <li class="uk-text-center"><a class="uk-link-muted uk-text-uppercase tm-link-to-all"
                                    href="brands"><span>see all brands</span><span
                                        uk-icon="icon: chevron-right; ratio: .75;"></span></a></li>
                        </ul>
                    </li>
                    <li class="uk-parent"><a href="#">Pages</a>
                        <ul class="uk-nav-sub uk-list-divider">
                            <li><a href="subcategory">Catalog</a></li>
                            <li><a href="subcategory">Category</a></li>
                            <li><a href="subcategory">Subcategory</a></li>
                            <li><a href="subcategory">Product</a></li>
                            <li><a href="subcategory">Cart</a></li>
                            <li><a href="subcategory">Checkout</a></li>
                            <li><a href="subcategory">Compare</a></li>
                            <li><a href="subcategory">Brands</a></li>
                            <li><a href="subcategory">Compare</a></li>
                            <li><a href="subcategory">Account</a></li>
                            <li><a href="subcategory">Favorites</a></li>
                            <li><a href="subcategory">Personal</a></li>
                            <li><a href="subcategory">Settings</a></li>
                            <li><a href="subcategory">About</a></li>
                            <li><a href="subcategory">Contacts</a></li>
                            <li><a href="subcategory">Blog</a></li>
                            <li><a href="subcategory">News</a></li>
                            <li><a href="subcategory">Article</a></li>
                            <li><a href="subcategory">FAQ</a></li>
                            <li><a href="subcategory">Delivery</a></li>
                            <li><a href="subcategory">404</a></li>
                        </ul>
                    </li>
                    <li><a href="blog">Blog</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contacts">Contacts</a></li>
                    <li><a href="compare">Compare<span class="uk-badge uk-margin-xsmall-left">3</span></a>
                    </li>
                </ul>
            </nav>
            <nav class="uk-card-small uk-card-body">
                <ul class="uk-nav uk-nav-default">
                    <li><a href="news">News</a></li>
                    <li><a href="faq">FAQ</a></li>
                    <li><a href="#">Payment</a></li>
                </ul>
            </nav>
            <nav class="uk-card-body">
                <ul class="uk-iconnav uk-flex-center">
                    <li><a href="#" title="Facebook" uk-icon="facebook"></a></li>
                    <li><a href="#" title="Twitter" uk-icon="twitter"></a></li>
                    <li><a href="#" title="YouTube" uk-icon="youtube"></a></li>
                    <li><a href="#" title="Instagram" uk-icon="instagram"></a></li>
                </ul>
            </nav>
        </div>
    </aside>
</div>